@model IEnumerable<Sneakers.Models.Entities.ORDER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>CÁC ĐƠN HÀNG</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Tổng giá trị
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Địa chỉ giao hàng
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Trạng thái
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.USER.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Daytime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDescription)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
            </td>
        </tr>
    }

</table>
<style type="text/css">
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        vertical-align: middle;
    }

    th {
        background-color: lightskyblue;
    }
    /* caption {
        caption-side: top;
        text-align: center;
        vertical-align: top;
        */ font-weight: bold;
    }
    /* tr:hover {
        background-color: #ddd;
        cursor: pointer;
    }*/
    p {
        vertical-align: text-bottom;
    }
</style>

